[submodule "theme"]
	path = theme
	url = https://github.com/alexandrevicenzi/Flex.git
[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = https://github.com/danielfrg/pelican-ipynb.git
[submodule "plugins/revealmd"]
	path = plugins/revealmd
	url = https://github.com/brookskindle/pelican-revealmd.git
