<!DOCTYPE html>
<!-- Parent template to apply color and layout to all other pages.  -->
<html>
    <!-- Inherit from Bootstrap's base -->
    {% extends "bootstrap/base.html" %}

    {% block title%}Brooks Kindle{% endblock %}

    {% block styles %}
    {{ super() }}
    <style type="text/css">
        /* using internal style until I figure out how to add static/css */
        body {
            font-family: arial;
            background-color: #101929;
            color: #b4b4b4;
        }
        h1, h2, h3, h4, h5, h6 {
            color: #75C2DB
        }
        .img-circle {
            border-radius: 50%;
        }
    </style>
    {% endblock %}

    <!-- Override the navbar that bootstrap provides -->
    {% block navbar %}
        <div class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href={{url_for("main.index")}}>Home</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href={{url_for("main.index")}}>About</a>
                        <li><a href={{url_for("blog.index")}}>Blog</a>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block content %}
    <div class="container" align="center">
        {% block page_content %}{% endblock %}
    </div>
    {% endblock %}
</html>
